body{
	word-wrap: break-word;
	min-width: 640px;
}
.list-group{
	box-shadow: none;
}
.list-group-item{
	border-bottom: 1px solid #D2D6DE;
}
.img-bordered-sm{
	padding: 0px;
}
.footer{
	padding: 0px;
	background-color: transparent;
}
.dropdown-menu{
	background-color: #F5F7FA;
	border-radius: 0px;
}
.dropdown-menu.primary
{
	background-color: #3BAFDA;
	color: #F5F7FA;
}
.dropdown-menu.primary > li > a
{
	color: #F5F7FA;
}
.dropdown-menu.primary>li>a:focus,.dropdown-menu.primary>li>a:hover
{
	background-color: #4FC1E9;
}
.navbar{
	border-radius: 0px;
	margin-bottom: 0px;
}
.navbar-default {
	background-color: #A0D468;
	border-color: #A0D468;
}
@media (min-width: 992px) {

	.container{
		margin-right: 8%;
		margin-left: 8%;
	}
}
.panel-plant
{
	background-color: #E6E9ED;
	border-color: #E6E9ED;
	border-radius: 0px;
}
.panel-plant > *
{
	border-radius: 0px;
}
.input-group-addon
{
	color: #333;
}
.list-group-item:last-child
{
	border-bottom: none;
}
