.plant{
	width: 200px;
	float: left;
	height: auto;
	margin: 2px;
}
.plant img{
	width: inherit;
	height: 125px;
	margin: 0px;
	padding: 0px;
}
.plant .name{
	position: relative;
	background-color: inherit;
	color: inherit;
	text-align: center;
	top: -5px;
	height: 16px;
}
.orange{
	color: white;
	background-color: orange;
}
.bittersweet{
	background-color: #FC6E51; 
	color: #F5F7FA;
}
